
<h3>新規投稿ページ</h3>
<%= form_for @post do |f| %>


 <%= form_for @post do |f| %>

   <div class="field">
     <%= f.label :youtube_url %>
      <%= f.text_field :youtube_url, :size => 140 %>
   
     <% end %>
    /div>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <%= f.submit "投稿する" %>
<% end %>

<%= link_to "一覧に戻る", posts_path %>